# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Model files
*.h5
*.pt
*.pth
*.ckpt

# Misc
*.egg-info/
